<div class="airline-check-in-buttons" *ngIf="passengerList.length > 0 && !isPassengersLoading">
    <mat-form-field>
        <mat-select [(ngModel)]="selectedPassenger" (selectionChange)="onPassengerSelectionChanged($event)"
            placeholder="Select passenger">
            <mat-option *ngFor="let passenger of passengerList" [value]="passenger">{{ passenger?.passenger?.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="row no-margin">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-7">
        <mat-spinner *ngIf="isPassengersLoading"></mat-spinner>
    </div>
</div>

<br>

<div class="row no-margin" *ngIf="selectedPassenger">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 airline-check-in-buttons">
        <div>
            <span class="mat-body-2">Please add or remove in flight shopping request for {{ selectedPassenger?.passenger?.name }}.</span>
        </div>
        <br>
        <button mat-raised-button (click)="openInFlightDialog('ADD')" color="primary">ADD</button>
        <button mat-raised-button (click)="openInFlightDialog('REMOVE')" color="warn">REMOVE</button>
    </div>
    <div class="col-lg-3"></div>
</div>