<div style="text-align: center">
    <br>
    <div *ngIf="(dialogData?.selectedState === 'ADD' && !(dialogData?.passenger?.isEntitledToInFlightShopping))
    || (dialogData?.selectedState === 'REMOVE' && (dialogData?.passenger?.isEntitledToInFlightShopping))">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
            [ngClass]="{'icon_3x_success': dialogData?.selectedState === 'ADD', 'icon_3x_failure': dialogData?.selectedState === 'REMOVE'}">
            {{ dialogData?.selectedState === 'REMOVE' ? 'remove_shopping_cart' : 'add_shopping_cart' }}</mat-icon>
    </div>
    <br>
    <h3 mat-dialog-title *ngIf="(dialogData?.selectedState === 'ADD' && !(dialogData?.passenger?.isEntitledToInFlightShopping))
    || (dialogData?.selectedState === 'REMOVE' && (dialogData?.passenger?.isEntitledToInFlightShopping))">Please
        confirm</h3>
    <div mat-dialog-content class="mat-body-1">
        <br>
        <p *ngIf="dialogData?.selectedState === 'ADD' && !(dialogData?.passenger?.isEntitledToInFlightShopping)">Do you
            really want to entitle {{ dialogData?.passenger?.name }} for in flight shopping ?</p>
        <p *ngIf="dialogData?.selectedState === 'REMOVE' && (dialogData?.passenger?.isEntitledToInFlightShopping)">Do
            you really want to remove entitlement to {{ dialogData?.passenger?.name }} for in flight shopping ?</p>
        <p *ngIf="dialogData?.selectedState === 'ADD' && (dialogData?.passenger?.isEntitledToInFlightShopping)">
            {{ dialogData?.passenger?.name }} is already entitled for in flight shopping!</p>
        <p *ngIf="dialogData?.selectedState === 'REMOVE' && !(dialogData?.passenger?.isEntitledToInFlightShopping)">
            {{ dialogData?.passenger?.name }} is not entitled for in flight shopping to remove!. Please add entitlement.
        </p>
    </div>
    <div class="airline-check-in-buttons" *ngIf="(dialogData?.selectedState === 'ADD' && !(dialogData?.passenger?.isEntitledToInFlightShopping))
    || (dialogData?.selectedState === 'REMOVE' && (dialogData?.passenger?.isEntitledToInFlightShopping))">
        <br>
        <button mat-raised-button (click)="onClickAction('yes')" color="primary">YES</button>
        <button mat-raised-button (click)="onClickAction('')" color="warn">NO</button>
    </div>
    <div class="airline-check-in-buttons" *ngIf="(dialogData?.selectedState === 'ADD' && (dialogData?.passenger?.isEntitledToInFlightShopping))
    || (dialogData?.selectedState === 'REMOVE' && !(dialogData?.passenger?.isEntitledToInFlightShopping))">
        <br>
        <button mat-raised-button (click)="onClickAction('')" color="primary">OK</button>
    </div>
</div>