<br>
<div class="kadamba-series-buttons">
    <button mat-raised-button color="accent"
        (click)="isShowSeatLayout = !isShowSeatLayout">{{ isShowSeatLayout? 'Hide seat layout' : 'Show seat layout' }}</button>
    <button mat-raised-button color="accent"
        (click)="isShowFlightDetail = !isShowFlightDetail">{{ isShowFlightDetail? 'Hide flight details' : 'Show flight details' }}</button>
</div>
<br>
<div class="row no-margin" *ngIf="isShowFlightDetail">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10 kadamba-content-border-theme text-center">
        <br>
        <span class="mat-body-2">Name:</span><span>&nbsp;</span><span
            class="mat-body-1">{{ flightDetails?.name }}</span>
        <br>
        <span class="mat-body-2">ID:</span><span>&nbsp;</span><span class="mat-body-1">{{ flightDetails?.id }}</span>
        <br>
        <span class="mat-body-2">Destination:</span><span>&nbsp;</span><span
            class="mat-body-1">{{ flightDetails?.details?.destination }}</span>
        <br>
        <span class="mat-body-2">Time of departure:</span><span>&nbsp;</span><span
            class="mat-body-1">{{ flightDetails?.details?.timeOfDeparture }}</span>
        <br>
        <span class="mat-body-2">Journey hours:</span><span>&nbsp;</span><span
            class="mat-body-1">{{ flightDetails?.details?.jpurneyHours }}</span>
        <br>
        <span class="mat-body-2">No of passengers:</span><span>&nbsp;</span><span
            class="mat-body-1">{{ flightDetails?.details?.noOfPassengers }}</span>
        <br>
        <br>
    </div>
    <div class="col-lg-1">

    </div>
</div>
<div class="row no-margin" *ngIf="seatConfig?.length > 0 && isShowSeatLayout">
    <div class="col-lg-6 text-center">
        <div>
            <span class="mat-body-2">
                Seat layout
            </span>
        </div>
        <div class="row no-margin kadamba-content-border-theme">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <br>
                <div *ngFor="let seatrow of seatmap">

                    <div class="seatrow">

                        <div *ngFor="let seatobj of seatrow?.seats">
                            <div class="seat-space" style="color:white ; background-color: white;"
                                *ngIf="seatobj.seatLabel == ''"> &nbsp;&nbsp;&nbsp; </div>
                            <div [ngClass]="{ 'seat-item' : true ,
                                                 'seat-available': seatobj.status === 'available',
                                                 'seat-with-infant': !seatobj.passengerStatus && !seatobj.isPassengerWithWheelChair && seatobj.isPassengerWithInfant,
                                                 'seat-with-wheel-chair': !seatobj.passengerStatus && seatobj.isPassengerWithWheelChair && !seatobj.isPassengerWithInfant,
                                                 'seat-with-wheel-chair-and-infant': !seatobj.passengerStatus && seatobj.isPassengerWithWheelChair && seatobj.isPassengerWithInfant,
                                                 'seat-with-infant-checkedIn': seatobj.passengerStatus && !seatobj.isPassengerWithWheelChair && seatobj.isPassengerWithInfant,
                                                 'seat-with-wheel-chair-checkedIn': seatobj.passengerStatus && seatobj.isPassengerWithWheelChair && !seatobj.isPassengerWithInfant,
                                                 'seat-with-wheel-chair-and-infant-checkedIn': seatobj.passengerStatus && seatobj.isPassengerWithWheelChair && seatobj.isPassengerWithInfant,
                                                 'seat-checkedIn' : seatobj.passengerStatus }"
                                (click)="selectSeat(seatobj)"
                                *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''">
                                {{seatobj.seatNo}}</div>
                            <div [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true, 'seat-checkedIn' : seatobj.passengerStatus === true }"
                                *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{seatobj.seatNo}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <br>
        <br>
        <div class="row mat-body-1">
            <div class="col-lg-4">
                <span>For normal passenger: </span>
            </div>
            <div class="col-lg-8">
                <div style="display: flex; justify-content: center;">
                    <div class="seat-item seat-checkedIn">
                    </div>
                    <div class=""><span> checked in</span></div>
                    <div class="seat-item seat-available">
                    </div>
                    <div class=""><span> Not checked in</span></div>
                </div>
            </div>
        </div>
        <div class="row mat-body-1">
            <div class="col-lg-4">
                <span>For passenger with infant: </span>
            </div>
            <div class="col-lg-8">
                <div style="display: flex; justify-content: center;">
                    <div class="seat-item seat-with-infant-checkedIn">
                    </div>
                    <div class=""><span> checked in</span></div>
                    <div class="seat-item seat-with-infant">
                    </div>
                    <div class=""><span> Not checked in</span></div>
                </div>
            </div>
        </div>
        <div class="row mat-body-1">
            <div class="col-lg-4">
                <span>For passenger requiring wheel chair: </span>
            </div>
            <div class="col-lg-8">
                <div style="display: flex; justify-content: center;">
                    <div class="seat-item seat-with-wheel-chair-checkedIn">
                    </div>
                    <div class=""><span> checked in</span></div>
                    <div class="seat-item seat-with-wheel-chair">
                    </div>
                    <div class=""><span> Not checked in</span></div>
                </div>
            </div>
        </div>
        <div class="row mat-body-1">
            <div class="col-lg-4">
                <span>For passenger with infant and requiring wheel chair: </span>
            </div>
            <div class="col-lg-8">
                <div style="display: flex; justify-content: center;">
                    <div class="seat-item seat-with-wheel-chair-and-infant-checkedIn">
                    </div>
                    <div class=""><span> checked in</span></div>
                    <div class="seat-item seat-with-wheel-chair-and-infant">
                    </div>
                    <div class=""><span> Not checked in</span></div>
                </div>
            </div>
        </div>

        <br>
        <div class="selected-seats" *ngIf="cart?.selectedSeats?.length > 0">
            <h5 class="col-lg-12 no-padding">Selected Seats : </h5>
            <span *ngFor="let seatLabel of cart.selectedSeats" class="badge badge-primary">{{seatLabel}}</span>
        </div>

    </div>
    <div class="col-lg-6" *ngIf="selectedPassengers?.length > 0">
        <div class="text-center">
            <span class="mat-body-2">Checked in passengers details</span>
        </div>
        <div class="selected-passenger-container">
            <div *ngFor="let seatObject of selectedPassengers.reverse()">
                <mat-card *ngIf="seatObject.passengerStatus"
                    style="border: 2px solid rebeccapurple; background-color: ghostwhite;">
                    <mat-card-content>
                        <div>
                            <span class="mat-body">Name: {{ seatObject?.passengerDetails?.name }}</span>
                        </div>
                        <div><span class="mat-body">ID: {{ seatObject?.passengerDetails?.name }}</span></div>
                    </mat-card-content>
                </mat-card>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row no-margin" *ngIf="seatConfig?.length > 0 && isShowSeatLayout">
    <div class="col-lg-12 text-center">
        <br>
        <button mat-raised-button (click)="formatPayload()" color="primary">Check in selected passengers</button>
    </div>
</div>