.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
.mat-table {
    overflow: auto;
    max-height: 500px;
  }

.sphr-mat-header-row {
  background-color: darkorange;
  border: 1px solid orange;
}

.sphr-mat-row {
  background-color: ghostwhite;
  border: 1px solid white;;
}
