<br>
<div class="row no-margin">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 kadamba-content-border-theme">
        <br>

        <div class="kadamba-series-buttons">
            <button mat-raised-button color="primary" [ngClass]="{ 'btn-clicked': isShowPassengers, 'btn-unclicked': !isShowPassengers }" (click)="showFlights('showPassenger')">Show Passengers</button>
            <button mat-raised-button [ngClass]="{ 'btn-clicked': isCheckInPassenger, 'btn-unclicked': !isCheckInPassenger }" (click)="showFlights('checkInPassenger')" color="primary">Check in
                passenger</button>
        </div>

        <br>

        <div class="kadamba-series-buttons" *ngIf="isShowFlights">
            <mat-form-field>
                <mat-select [(value)]="selectedFlight" placeholder="Select flight"
                    (selectionChange)="onFlightSelectionChanged($event)">
                    <mat-option *ngFor="let flight of updatedFlightsList" [value]="flight">{{ flight?.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <br>

    </div>
    <div class="col-lg-1"></div>
</div>

<div *ngIf="selectedFlight && isCheckInPassenger">
    <app-seat-map [fid]="selectedFlight?.id" (checkedInPayload)="updateCheckedInPayload($event)">
    </app-seat-map>
</div>

<br>

<div *ngIf="selectedFlight && isShowPassengers">
    <app-passengers-list [fromStaff]="true" [flightId]="selectedFlight?.id"></app-passengers-list>
</div>

<br>