<div class="row no-margin" *ngIf="selectedPassenger">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>UPDATE {{ selectedPassenger?.passenger?.name?.toUpperCase() }} DETAILS</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form" [formGroup]="passengerFormGroup">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Passport number" formControlName="passport" name="passport">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address" formControlName="address" name="address">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Date of birth" formControlName="dateOfBirth" name="DateOfBirth">
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
          <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
        <mat-card-actions class="airline-check-in-buttons">
          <!-- <button mat-raised-button (click)="onSubmit()" color="primary">Login</button> -->
          <button mat-raised-button (click)="submitUpdatedPassengerDetails()" color="primary">Submit</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
