/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// .bg {
//     /* The image used */
//     background-image: url('./assets/flightbackground.jpg');
  
//     /* Full height */
//     height: 100%; 
  
//     /* Center and scale the image nicely */
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
.no-margin {
    margin-left: 0px;
    margin-right: 0px;
  }

.text-center {
  text-align: center;
}

.kadamba-series-buttons {
  @extend .text-center;
  button {
    margin-right: 8px;
  }
}

.kadamba-content-border-theme {
  border: 2px solid rebeccapurple;
  border-radius: 0.5rem;
  background-color: ghostwhite;
}

.btn-clicked {
  background-color: green;
  color: white;
}

.btn-unclicked {
  background-color: #673ab7;
  color: white;
}